{% extends 'shopapp/base.html' %}
{% block content %}
{% include 'shopapp/include/messages.html' %}
{% load crispy_forms_tags %}
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
    <h4 class="card-title mb-4">Sign in</h4>
    <form class="bootstrap4" method="post">
      {% csrf_token%}
      {{form|crispy}}
      <input type="submit" name="" value="send reset password link" class='btn btn-primary'>
    </form>
    </div>
  </div>
{% endblock %}
