{% extends 'shopapp/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
{% include 'shopapp/include/messages.html' %}

      <form class="bootstrap4" method="post">
        {% csrf_token%}
        {{form|crispy}}
        <input type="submit" name="" value="Sign in" class='btn btn-primary'>
				<p class="text-center mt-4">Haben Sie Ihr password vegessen?<a href="{% url 'accounts:resetpass' %}">Reset Password</a></p>
	      <br><br>
      </form>

      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Don't have account? <a href="{% url 'accounts:register' %}">Sign up</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
